.table {
	margin: 20px;
	grid-auto-columns: min-content;
	border-style: solid;
	border-width: 0.5px;
	border-color: #a5a5a5;

}

.table-cell {
	background-color: #fff;
	color: #252526;
	border-style: solid;
	border-width: 0.5px;
	border-color: #a5a5a5;
	padding: 4px;
	font-size: 13px;
	font-family: Arial, Helvetica, sans-serif;
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none;
	width: 100px;
	height: 21px;
}

.hovered {
	background-color: #efefef;
}

.selected {
	background-color: #c6c6c6;
}
